### 출력형식설정 : format
- print(f'출력할 내용' % 변수)

- 데이터 형식(%d : 숫자, %s : 문자, %c : 1개의 문자, %f : 실수, %% : %자체를 출력할때)

In [3]:
# 숫자데이터를 포맷으로 설정
num = 3
msg = '내가 가진 사과의 갯수는 %d 이다.' %num
print(msg)

내가 가진 사과의 갯수는 3 이다.

In [4]:
msg2 = '나의 이름은 %s입니다' % '홍gildong'
print(msg2)

나의 이름은 홍gildong입니다

In [7]:
# 대입할 데이터가 1개 이상일때
day = 100
country = '아일랜드'
msg3 = '나는 %d일 후 %s로 떠난다...' %(day, country)
print(msg3)

나는 100일 후 아일랜드로 떠난다...

In [10]:
msg4 = '나는 %10d후 %10s로 여행을 떠난다..' %(day, country)
print(msg4)

나는        100후       아일랜드로 여행을 떠난다..

In [11]:
msg5 = '나는 %-10d후 %-10s로 여행간다' %(day, country)
print(msg5)

나는 100       후 아일랜드      로 여행간다

# format()함수를 이용한 포맷팅

In [12]:
num = 123
name = '홍길동'
addr = '서울시 마포구 백범로'

In [13]:
result = '내이름은 {0}입니다'.format(name)
print(result)

내이름은 홍길동입니다

In [14]:
result2 = '내이름은 {0}이고, 주소는 {1}이다.'.format(name, addr)
print(result2)

내이름은 홍길동이고, 주소는 서울시 마포구 백범로이다.

In [16]:
result3 = "내이름은 {name}이다.".format(name='park')
print(result3)

내이름은 park이다.

In [18]:
result4 = "내이름은 {0:<10}입니다...".format(name) # 10자리를 확보하여 문자를 왼쪽정렬하라
print(result4)

내이름은 홍길동       입니다...

In [19]:
result5 = '내 이름은 {0:>10}입니다..'.format(name) # 10자리를 확보하여 문자를 오른쪽으로 정렬하라
print(result5)

내 이름은        홍길동입니다..

In [20]:
result6 = "내 이름은 {0:^10}입니다잉".format(name) # 중앙정렬
print(result6)

내 이름은    홍길동    입니다잉

In [23]:
result7 = "내 이름은 {0:!<10}입니다".format(name) # 왼쪽정렬하고 남아있는 자리를 !로 채워라
print(result7)
result8 = "내 이름은 {0:$>10}입니다".format(name)
print(result8)

내 이름은 홍길동!!!!!!!입니다
내 이름은 $$$$$$$홍길동입니다

In [25]:
f = 12.56
data = '실수형 데이터 포맷 설정 : {0:10.4f}이다'.format(f)
print(data)

실수형 데이터 포맷 설정 :    12.5600이다

In [28]:
# {와}를 그대로 출력을 원할 경우
data2 = "format에서 값을 {{와}}로 표시한다".format()
print(data2)

format에서 값을 {와}로 표시한다

In [29]:
# f를 이용한 문자열 포맷팅
data3 = f'번호는 {num}이고, 이름은 {name}이고, 주소는 {addr}입니다.'
print(data3)

번호는 123이고, 이름은 홍길동이고, 주소는 서울시 마포구 백범로입니다.

In [31]:
print(f'나의 이름은 {name}입니다...')

나의 이름은 홍길동입니다...

In [33]:
print(f'나의 이름은 {name:!<10}입니다...')

나의 이름은 홍길동!!!!!!!입니다...

In [ ]:
# 딕셔너리 문자열의 포맷팅
people = {"userid":"testid", "username":"홍길동"}