### 리스트(list) 자료형

- 숫자나 문자열의 순서와 집합을 처리하는 자료형이다.

- 리스트명 = [숫자데이터1, 문제데이터1,문자데이터2, 리스트,,,,]

In [2]:
# 리스트형 변수를 선언하는 방법
# 데이터가 없을 경우
a = []
b = list()
print(a)
print(b)

[]
[]

In [3]:
#  데이터가 있을때
c = [10,20,30,40,50,60]
print(c)

[10, 20, 30, 40, 50, 60]

In [4]:
d = ['apple','banana', 'cranberry']
print(d)

['apple', 'banana', 'cranberry']

In [5]:
e = [1, 2, 'tomato', 'blueberry']
print(e)

[1, 2, 'tomato', 'blueberry']

In [6]:
f = [1,2,3,['a','b','c'],4]
print(f)

[1, 2, 3, ['a', 'b', 'c'], 4]

In [7]:
g = [1,2,['a','b',['가','나','다']]]
print(g)

[1, 2, ['a', 'b', ['가', '나', '다']]]

In [8]:
# 원하는 데이터 사용하기
print(c[2]) #30
print(d[2]) #cranberry
print(e[2]) #tomato
print(f[3][1]) # b
print(g[2][2][1]) #나

30
cranberry
tomato
b
나

In [9]:
data1 = [1,2,3,4,5,6,7,8]
data2 = [10,11,12,13,14,15]

In [12]:
# 리스트의 연산
result = data2 + data1 # data1 리스트와 data2리스트가 합쳐진다.
print(result)

[10, 11, 12, 13, 14, 15, 1, 2, 3, 4, 5, 6, 7, 8]

In [13]:
result2 = data1 * 3 # data1의 값을 3번 생성하여 하나의 리스트를 구한다.
print(result2)

[1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [14]:
#리스트의 데이터 갯수
print(len(result2))

24

In [15]:
result2[3] = 200
print(result2)

[1, 2, 3, 200, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 8]

In [16]:
# 리스트이 값 지우기
del result2[15]
print(result2)

[1, 2, 3, 200, 5, 6, 7, 8, 1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7, 8]

In [18]:
del result2[10:] 
print(result2)

[1, 2, 3, 200, 5, 6, 7, 8, 1, 2]

In [19]:
# 리스트에 데이터 추가하기
a.append(5)
a.append('A')
a.append("가")
print(a)

[5, 'A', '가']

In [20]:
a.append([100,200,300])
print(a)

[5, 'A', '가', [100, 200, 300]]

In [22]:
# 리스트의 정렬
data3 = [15,21,9,26,45,78,25,41]
data3.sort()
print(data3)

# 리스트 역순
data3.reverse()
print(data3)

[9, 15, 21, 25, 26, 41, 45, 78]
[78, 45, 41, 26, 25, 21, 15, 9]

In [26]:
data5 = [15,21,9,26,45,78,25,41]

In [27]:
print('data5', data5)
data5.sort(reverse=True)
print('data5', data5)

data5 [15, 21, 9, 26, 45, 78, 25, 41]
data5 [78, 45, 41, 26, 25, 21, 15, 9]

In [28]:
data6 = [15,21,9,26,45,78,25,41]
print(sorted(data6)[::-1])

[78, 45, 41, 26, 25, 21, 15, 9]

### 리스트에 데이터 삽입

In [1]:
data1 = [1,2,3,4,5,6,7,8]
data2 = [10,11,12,13,14,15]

In [8]:
data1.insert(2, 100) # index 2의 위치에 100을 추가
print(data1)

[1, 2, 100, 100, 100, 100, 100, 3, 4, 5, 6, 7, 8]

In [ ]:
### 데이터 지우기

In [9]:
data1.remove(100) # 처음 나오는 100을 지운다
print(data1)

[1, 2, 100, 100, 100, 100, 3, 4, 5, 6, 7, 8]

In [ ]:
### 데이터 꺼내기

In [10]:
result = data1.pop() # 마지막 데이터를 꺼내서 지운다.
print(data1, result)

[1, 2, 100, 100, 100, 100, 3, 4, 5, 6, 7] 8

In [12]:
result2 = data1.pop(2)
print(result2)
print(data1)

100
[1, 2, 100, 100, 3, 4, 5, 6, 7]

In [ ]:
### 리스트에 있는 데이터 갯수 구하기

In [13]:
result3 = data1.count(100)
print(result3)

2

In [ ]:
### 리스트 확장

In [14]:
data1 = [1,2,3,4,5,6,7,8]
data2 = [10,11,12,13,14,15]

In [15]:
print(data1+data2)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15]

In [16]:
data1

[1, 2, 3, 4, 5, 6, 7, 8]

In [17]:
data2

[10, 11, 12, 13, 14, 15]

In [19]:
result5 = data1+data2

In [20]:
print(result5)

[1, 2, 3, 4, 5, 6, 7, 8, 10, 11, 12, 13, 14, 15]

In [ ]:
data1.extend(data2) # data2이 data1에 합쳐진다.