### 딕셔너리 자료형
- 리스트와 튜플처럼 순서를 구하지 않고 key, value가 존재한다
- {key: value, key:value, key:value}

In [1]:
dic1 = {1:'hi'}
dic2 = {'one' : [1,2,3,4,5]}
dic3 = {'userid':'hong', 'userpwd':'1234'}
print(dic1)
print(dic2)
print(dic3)

{1: 'hi'}
{'one': [1, 2, 3, 4, 5]}
{'userid': 'hong', 'userpwd': '1234'}

In [ ]:
### 딕셔너리에 데이터 추가하기

In [3]:
dic2['two'] = [10,20,30]
print(dic2)

{'one': [1, 2, 3, 4, 5], 'two': [10, 20, 30]}

In [4]:
# 딕셔너리 데이터 지우기
#         key
del dic2['one']
print(dic2)

{'two': [10, 20, 30]}

In [6]:
# key값이 중복되는 경우
dic4 = {1:'one', 2:'two', 3:'three'}
print(dic4)

{1: 'one', 2: 'two', 3: 'three'}

In [7]:
print(dic3['userid'])

hong

### 딕셔너리 만들기
항목    값
name    홍길동
birth   951012
age     26

다음 항목을 딕셔너리로 만들고
1. key 목록과 value목록을 리스트로 출력하라.
2. 이름은 홍길동이고, 생년월일은 95년 10월 12일이며, 나이는 26세이다. 로 출력하라

In [9]:
dic5 = {'name' : '홍길동', 'birth':'951012','age':26}
key_list2 = dic5.keys() 
print(key_list2)

value_list2 = dic5.values()
print(value_list2)

print('이름은 '  + dic5['name'] + '이고, 생년월일은 ' + dic5['birth'][0:2]
      + '년' + dic5['birth'][2:4] + '월' + dic5['birth'][4:6] + '일이며, 나이는 ' + dic5['age'] + '세이다.')

dict_keys(['name', 'birth', 'age'])
dict_values(['홍길동', '951012', '26'])
이름은 홍길동이고, 생년월일은 95년10월12일이며, 나이는 26세이다.