### 집합자료형
- 집합에 관련된 자료형으로 처리하기 위해 만든 데이터형이다. set()을 생성할 수 있다.
- 중복을 허용하지 않는다.
- 입력순서가 없다.
- 크기순으로 정렬된다.(asc)

In [3]:
# 리스트 데이터를 셋으로 생성
list_data = [12,58,32,74,2,12,48,12]
set_data1 = set(list_data)
set_data2 = set([54,3,65,32,3,3,3,3,3,3,3])
print(list_data)
print(set_data1)
print(set_data2)

[12, 58, 32, 74, 2, 12, 48, 12]
{32, 2, 74, 12, 48, 58}
{32, 65, 3, 54}

In [4]:
# 문자열을 셋으로 생성 : 데이터를 한글자씩 조각낸다.
str1 = 'Python Programing'
set_data3 = set(str1)
print(set_data3)

{'o', ' ', 't', 'P', 'n', 'i', 'h', 'r', 'm', 'g', 'a', 'y'}

In [5]:
set_data4 = set('4757547848')
print(set_data4)

{'5', '7', '4', '8'}

### 교집합, 합집합, 차집합 구하기

In [6]:
set_data5 = set([1,2,3,4,5,6])
set_data6 = set([4,5,6,7,8,9])

In [7]:
# 교집합 -> & = intersection()
set_data7 = set_data5 & set_data6
print(set_data7)

{4, 5, 6}

In [10]:
set_data10 = set_data5.intersection(set_data6)
print(set_data10)

{4, 5, 6}

In [8]:
# 합집합 -> | = union()
set_data8 = set_data5 | set_data6
print(set_data8)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [11]:
set_data11 = set_data5.union(set_data6)
print(set_data11)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [9]:
# 차집합 set_data5에서 set_data6를 뺀다
set_data9 = set_data5 - set_data6
print(set_data9)

{1, 2, 3}

In [12]:
set_data12 = set_data5.difference(set_data6)
print(set_data12)

{1, 2, 3}

In [13]:
# 데이터 1개 추가
set_data5.add(10)
print(set_data5)

{1, 2, 3, 4, 5, 6, 10}

In [14]:
# 여러개 값 추가하기
set_data5.update([55,45,75])
print(set_data5)

{1, 2, 3, 4, 5, 6, 10, 75, 45, 55}

In [15]:
# 값지우기
set_data5.remove(5)
print(set_data5)

{1, 2, 3, 4, 6, 10, 75, 45, 55}