### for문

In [1]:
data1 = [12,45,87,75,48,69,56]

In [ ]:
# data1의 값 중에 60이상 데이터를 data2로 옮겨라

In [2]:
data2 = list() # data2 = []
for d in data1:
    if d>=60:
        data2.append(d)
print(data2)

[87, 75, 69]

In [7]:
#             1부터 10이전까지 반복
#            초기값, 최종값, 증가값
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [8]:
# 1 = 87
# 2 = 75
# 3 = 69
for i in range(len(data2)):
    print('%d번째 데이터는 %d이다' % (i+1, data2[i]))

1번째 데이터는 87이다
2번째 데이터는 75이다
3번째 데이터는 69이다

In [9]:
data3 = [(10,20),(100,200),(500,600),(800,900)]
# 10 -> 20
# 100 -> 200
# 500 -> 500
# 800 -> 900
for (first, last) in data3:
    print(f'{first}--->{last}')

10--->20
100--->200
500--->600
800--->900

In [12]:
data4 = [('홍길동',60), ('이순신',90),('세종대왕',50),('김삿갓',70)]

# 1번 홍길동은 합격입니다.
# 2번 이순신은 합격입니다.
# 3번 세종대왕은 불합격입니다.
# 4번 김삿갓은 합격입니다.

for num in range(len(data4)):
    t = data4[num] # ('홍길동', 60)
    result = ""
    if t[1]>=60:
        result = '합격'
    else:
        result = '불합격'
    print(f'{num+1}번 {t[0]}은 {result}입니다.')

1번 홍길동은 합격입니다.
2번 이순신은 합격입니다.
3번 세종대왕은 불합격입니다.
4번 김삿갓은 합격입니다.

In [ ]:
# data4 의 정보를 이용하여 합격한 학생만 출력하라.
# 1번 홍길동은 합격입니다.
# 2번 이순신은 합격입니다.
# 4번 김삿갓은 합격입니다.

In [14]:
for num in range(len(data4)):
    t = data4[num]
    if t[1]<60:
        continue
    print(f'{num+1}번 {t[0]}은 합격입니다')

1번 홍길동은 합격입니다
2번 이순신은 합격입니다
4번 김삿갓은 합격입니다

In [15]:
data5 = [56,84,3,74,92,75,62,14,68,62,55,95]

#data5를 이용하여 짝수만 그값을 3배하고 새로운 list를 생성하라.
len(data5)

12

In [17]:
test_list = []
for value in data5:
    if value%2==0: #짝수
        test_list.append(value+3)
test_list

[59, 87, 77, 95, 65, 17, 71, 65]

In [18]:
data5

[56, 84, 3, 74, 92, 75, 62, 14, 68, 62, 55, 95]

In [19]:
test_list3 = [n*4 for n in data5]

In [20]:
test_list3

[224, 336, 12, 296, 368, 300, 248, 56, 272, 248, 220, 380]

In [22]:
# data5 값을 이용하여 홀수인 경우 2배하고 새로운 리스트 생성
test_list4 = [num*2 for num in data5 if num%2==1]
test_list4

[6, 150, 110, 190]

In [23]:
### 중첩반복문
for i in range(1,5):
    for j in range(1,5):
        print(i,j)

1 1
1 2
1 3
1 4
2 1
2 2
2 3
2 4
3 1
3 2
3 3
3 4
4 1
4 2
4 3
4 4

In [25]:
test_list5 = [(x,y,z) for x in range(3,8) for y in range(11,16) for z in range(6,11)]
print(test_list5)

[(3, 11, 6), (3, 11, 7), (3, 11, 8), (3, 11, 9), (3, 11, 10), (3, 12, 6), (3, 12, 7), (3, 12, 8), (3, 12, 9), (3, 12, 10), (3, 13, 6), (3, 13, 7), (3, 13, 8), (3, 13, 9), (3, 13, 10), (3, 14, 6), (3, 14, 7), (3, 14, 8), (3, 14, 9), (3, 14, 10), (3, 15, 6), (3, 15, 7), (3, 15, 8), (3, 15, 9), (3, 15, 10), (4, 11, 6), (4, 11, 7), (4, 11, 8), (4, 11, 9), (4, 11, 10), (4, 12, 6), (4, 12, 7), (4, 12, 8), (4, 12, 9), (4, 12, 10), (4, 13, 6), (4, 13, 7), (4, 13, 8), (4, 13, 9), (4, 13, 10), (4, 14, 6), (4, 14, 7), (4, 14, 8), (4, 14, 9), (4, 14, 10), (4, 15, 6), (4, 15, 7), (4, 15, 8), (4, 15, 9), (4, 15, 10), (5, 11, 6), (5, 11, 7), (5, 11, 8), (5, 11, 9), (5, 11, 10), (5, 12, 6), (5, 12, 7), (5, 12, 8), (5, 12, 9), (5, 12, 10), (5, 13, 6), (5, 13, 7), (5, 13, 8), (5, 13, 9), (5, 13, 10), (5, 14, 6), (5, 14, 7), (5, 14, 8), (5, 14, 9), (5, 14, 10), (5, 15, 6), (5, 15, 7), (5, 15, 8), (5, 15, 9), (5, 15, 10), (6, 11, 6), (6, 11, 7), (6, 11, 8), (6, 11, 9), (6, 11, 10), (6, 12, 6), (6, 12, 7), (6, 12, 8), (6, 12, 9), (6, 12, 10), (6, 13, 6), (6, 13, 7), (6, 13, 8), (6, 13, 9), (6, 13, 10), (6, 14, 6), (6, 14, 7), (6, 14, 8), (6, 14, 9), (6, 14, 10), (6, 15, 6), (6, 15, 7), (6, 15, 8), (6, 15, 9), (6, 15, 10), (7, 11, 6), (7, 11, 7), (7, 11, 8), (7, 11, 9), (7, 11, 10), (7, 12, 6), (7, 12, 7), (7, 12, 8), (7, 12, 9), (7, 12, 10), (7, 13, 6), (7, 13, 7), (7, 13, 8), (7, 13, 9), (7, 13, 10), (7, 14, 6), (7, 14, 7), (7, 14, 8), (7, 14, 9), (7, 14, 10), (7, 15, 6), (7, 15, 7), (7, 15, 8), (7, 15, 9), (7, 15, 10)]

In [26]:
test_list5 = [x+y+z for x in range(3,8) for y in range(11,16) for z in range(6,11)]
print(test_list5)

[20, 21, 22, 23, 24, 21, 22, 23, 24, 25, 22, 23, 24, 25, 26, 23, 24, 25, 26, 27, 24, 25, 26, 27, 28, 21, 22, 23, 24, 25, 22, 23, 24, 25, 26, 23, 24, 25, 26, 27, 24, 25, 26, 27, 28, 25, 26, 27, 28, 29, 22, 23, 24, 25, 26, 23, 24, 25, 26, 27, 24, 25, 26, 27, 28, 25, 26, 27, 28, 29, 26, 27, 28, 29, 30, 23, 24, 25, 26, 27, 24, 25, 26, 27, 28, 25, 26, 27, 28, 29, 26, 27, 28, 29, 30, 27, 28, 29, 30, 31, 24, 25, 26, 27, 28, 25, 26, 27, 28, 29, 26, 27, 28, 29, 30, 27, 28, 29, 30, 31, 28, 29, 30, 31, 32]

### 내포된 for문을 이용하여 구구단을 리스트에 저장하라
2단 부터 9단까지
[(2, 2, 4),(2, 3, 6),,,,,,]

list에 저장된 구구단을 이용하여 출력하라.

2*2=4
2*3=6

In [27]:
gugudan = [ (dan, i, dan*i) for dan in range(2, 10) for i in range(2, 10)]
print(gugudan)

[(2, 2, 4), (2, 3, 6), (2, 4, 8), (2, 5, 10), (2, 6, 12), (2, 7, 14), (2, 8, 16), (2, 9, 18), (3, 2, 6), (3, 3, 9), (3, 4, 12), (3, 5, 15), (3, 6, 18), (3, 7, 21), (3, 8, 24), (3, 9, 27), (4, 2, 8), (4, 3, 12), (4, 4, 16), (4, 5, 20), (4, 6, 24), (4, 7, 28), (4, 8, 32), (4, 9, 36), (5, 2, 10), (5, 3, 15), (5, 4, 20), (5, 5, 25), (5, 6, 30), (5, 7, 35), (5, 8, 40), (5, 9, 45), (6, 2, 12), (6, 3, 18), (6, 4, 24), (6, 5, 30), (6, 6, 36), (6, 7, 42), (6, 8, 48), (6, 9, 54), (7, 2, 14), (7, 3, 21), (7, 4, 28), (7, 5, 35), (7, 6, 42), (7, 7, 49), (7, 8, 56), (7, 9, 63), (8, 2, 16), (8, 3, 24), (8, 4, 32), (8, 5, 40), (8, 6, 48), (8, 7, 56), (8, 8, 64), (8, 9, 72), (9, 2, 18), (9, 3, 27), (9, 4, 36), (9, 5, 45), (9, 6, 54), (9, 7, 63), (9, 8, 72), (9, 9, 81)]

In [29]:
for gugu in gugudan:
    print(f'{gugu[0]} * {gugu[1]} = {gugu[2]}')

2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81