###  csv파일 읽어와 DataFrame으로 생성하기

In [1]:
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# csv는 ,로 데이터가 구분
csvFile = pd.read_csv('test_csv_file.csv', engine='python')
display(csvFile)

   ID LAST_NAME  AGE  이름
0   1       KIM   30  길동
1   2      CHOI   25  치원
2   3       LEE   41  순신
3   4      PARK   19  문수
4   5       LIM   36  꺽정

In [3]:
csvFile = pd.read_csv('test_csv_file.csv', engine='python', names=[1,2,3,4])
display(csvFile)

    1          2    3   4
0  ID  LAST_NAME  AGE  이름
1   1        KIM   30  길동
2   2       CHOI   25  치원
3   3        LEE   41  순신
4   4       PARK   19  문수
5   5        LIM   36  꺽정